@import url('https://fonts.googleapis.com/css?family=Nunito');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html, body {
	height: 100%;
}

body {
	background-color: rgb(30, 30, 30);
}

/*-----------------------------------------------*/

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar:hover {
	width: 6px;
	height: 3px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #e1e1e1;
	border: 0px none #ffffff;
}
::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
	background: #a6a6a6;
}
::-webkit-scrollbar-track {
	background: #4b5a68;
	border: 1px none #ffffff;
}
::-webkit-scrollbar-track:hover {
	background: #4b5a68;
}
::-webkit-scrollbar-track:active {
	background: #4b5a68;
}

/*------------------------------------------------*/

/*---------------------HEADER---------------------*/

.header {
    background: rgb(25, 25, 25);
    display: flex;
    align-items: center;
    padding: 6.2% 13% 6.2% 13%;
	justify-content: space-between;
}

.header img {
	width: 75px;
	height: 43px;
}

nav ul {
    display: flex;
	width: 100%;
	flex-wrap: wrap;
}

nav ul li {
    margin: auto 20px auto 20px;
    font-size: 17px;
    letter-spacing: 1px;
}

nav ul li a {
	transition: all 0.4s;
	color: rgb(166, 161, 196);
}

nav ul li a:hover {
	transition: all 0.4s;
	color: rgb(222, 221, 235);;
}

.dash-btn {
    background-color: rgb(238, 242, 247);
	padding: 2px 17px;
	color: white;
	border-radius: 14px;
    transition: all 0.4s;
    font-size: 16px;
	color: black;
}

.dash-btn:hover {
	color: black;
    background-color: rgb(166, 161, 196);
    transition: all 0.4s;
}

/*---------------------HEADER---------------------*/

/*---------------------HOME---------------------*/

.home {
	display: flex;
	background-color: rgb(25, 25, 25);
	padding: 0 13%;
}

.box1 {
	width: 100%;
	margin-top: 35px;
}

.home img {
	border-radius: 8px;
	box-shadow: 0 0 0.15em rgb(0 0 0);
	width: 500px;
	height: 290px;
}

.home h1 {
	font-size: 48px;
	font-weight: lighter;
	color: rgb(82, 41, 163);
}

.home p {
	max-width: 370px;
	color: rgb(207, 207, 207);
	margin: 20px 0;
	font-size: 17px;
}

.home a {
	color: rgb(82, 41, 163);
	border: solid 1px rgb(82, 41, 163);
	transition: all 0.3s;
	padding: 7px 12px;
	border-radius: 4px;
	margin-right: 5px;
}

.home a:hover {
	background-color: rgb(82, 41, 163);
	transition: all 0.3s;
	color: white;
}

.home .eyeit-btn {
	color: white;
	background-color: rgb(82, 41, 163);
}

.home svg {
	width: 100%;
}

/*---------------------HOME---------------------*/

/*---------------------FEATURES---------------------*/

.features {
	padding: 0 10% 7% 10%;
}

.features-h {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.features-h i {
	color: rgb(82, 41, 163);
	font-size: 30px;
}

.features-h h1 {
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 25px;
}

.features-box1 {
	margin-top: 50px;
	margin-bottom: 80px;
}

.features-box1, .features-box2 {
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.features-box1 i, .features-box2 i {
	color: rgb(82, 41, 163);
	font-size: 21px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: rgba(82, 41, 163, 0.3);
	padding-top: 14px;
}

.features-box1 h1, .features-box2 h1 {
	margin: 10px 0;
	color: rgb(230, 230, 230);
}

.features-box1 p, .features-box2 p {
	max-width: 310px;
	color: rgb(170, 170, 170);
	font-size: 16.8px;
}

/*---------------------FEATURES---------------------*/

/*---------------------STATS---------------------*/

.stats {
	background-color: rgb(25, 25, 25);
	padding: 5% 15%;
}

.stats-h{
	display: block;
	text-align: center;
}

.stats-h h1 {
	color: rgb(231, 230, 230);
	margin-bottom: 20px;
}

.stats-inf {
	display: flex;
	padding: 5% 20%;
	justify-content: space-between;
}

.stats-inf h1 {
	font-weight: lighter;
	color: white;
	font-size: 23px;
}

.stats-inf i {
	color: rgb(82, 41, 163);
	font-size: 21px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: rgba(82, 41, 163, 0.3);
	padding-top: 14px;
	margin-bottom: 15px;
}

.stats i {
	text-align: center;
}

.stats-h i {
	color: rgb(82, 41, 163);
	font-size: 30px;
}

.users, .strings {
	text-align: center;
}

/*---------------------STATS---------------------*/

/*---------------------FAQ---------------------*/

.faq {
	padding: 4% 10% 7% 10%;
}

.faq-h {
	display: block;
	text-align: center;
}

.faq-h i {
	color: rgb(82, 41, 163);
	font-size: 31px;
	margin-bottom: 10px;
}

.faq-h h1 {
	color: white;
	letter-spacing: 1px;
	margin-bottom: 40px;
}

.faq-box1 {
	margin-bottom: 45px;
}

.faq-box1, .faq-box2 {
	display: flex;
	justify-content: space-between;
}

.faq-box1 i, .faq-box2 i {
	color: rgb(82, 41, 163);
	font-size: 21px;
}

.faq-box1 h1, .faq-box2 h1 {
	color: #919ca7;
	font-size: 20px;
}

.faq-box1 p, .faq-box2 p {
	color: #919ca7;
	font-size: 16px;
	font-weight: lighter;
	max-width: 450px;
}

/*---------------------FAQ---------------------*/

/*----------------------------------------------*/

@media screen and (max-width: 1200px) {
	.home p {
		max-width: 300px;
	}
	.features {
		padding: 0 5% 7% 5%;
	}
	.features-box1 p, .features-box2 p {
		max-width: 280px;
	}
	.faq {
		padding: 4% 3%;
	}
}

@media screen and (max-width: 1100px) {
	.home p {
		max-width: 250px;
	}
	.home a {
		font-size: 12px;
	}
}

@media screen and (max-width: 1010px) {
	.home h1 {
		font-size: 38px;
	}
	.home p {
		font-size: 13px;
		padding-right: 15px;
	}
	.home a {
		font-size: 10.5px;
	}
	.features-box1 p, .features-box2 p {
		max-width: 250px;
	}
	.faq-box1 p, .faq-box2 p {
		max-width: 400px;
	}
}

@media screen and (max-width: 945px) {
	.home a {
		padding: 5px 7px;
		font-size: 8px;
	}
}

@media screen and (max-width: 880px) {
    .header {
		display: block;
        padding: 5% 5%;
    }
	.box1 {
		padding: 0 13%;
	}
    .header img {
		display: block;
		margin-left: auto;
		margin-right: auto;
    }
    nav ul li {
        display: none;
    }
	.home {
		display: block;
		padding: 0;
	}
	.home img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.home h1 {
		font-size: 38px;
		text-align: center;
	}
	.home p {
		text-align: center;
		max-width: none;
	}
	.home a {
		font-size: 12px;
	}
	.box1 {
		margin-top: 0;
	}
	.box2 {
		margin-top: 50px;
		padding-bottom: 30px;
	}
	.features-box1 {
		margin-bottom: 0;
	}
	.features-box1, .features-box2 {
		display: block;
	}
	.features-box1 p, .features-box2 p {
		margin: 0 auto 50px auto;
	}
	.stats-h h1 {
		margin-bottom: -30px;
	}
	.stats-inf {
		display: block;
	}
	.stats-inf i {
		margin-top: 35px;
	}
	.faq-h h1 {
		margin-bottom: 30px;
	}
	.faq-box1 {
		margin-bottom: 0;
	}
	.faq-box1, .faq-box2 {
		display: block;
		text-align: center;
	}
	.faq-box1 h1, .faq-box2 h1 {
		margin-bottom: 7px;
	}
	.faq-box1 p, .faq-box2 p {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 600px) {
	.home img {
		width: 430px;
		height: 250px;
	}
	.features-box1 p, .features-box2 p {
		font-size: 15px;
	}
}

@media screen and (max-width: 450px) {
	.home img {
		width: 370px;
		height: 215px;
	}
	.faq-box1 p, .faq-box2 p {
		max-width: 350px;
	}
	.faq-box1 p, .faq-box2 p {
		font-size: 15px;
	}
	.faq-box1 i, .faq-box2 i {
		font-size: 19px;
	}
	.faq-box1 h1, .faq-box2 h1 {
		font-size: 17px;
	}
}

@media screen and (max-width: 400px) {
	.home img {
		width: 330px;
		height: 191px;
	}
	.faq-h h1 {
		font-size: 19px;
	}
	.faq-box1 p, .faq-box2 p {
		font-size: 13px;
		max-width: 300px;
	}
	.faq-box1 i, .faq-box2 i {
		font-size: 17px;
	}
	.faq-box1 h1, .faq-box2 h1 {
		font-size: 15px;
	}
}

@media screen and (max-width: 345px) { /*Glaxy Fold or smaller*/
	.home img {
		width: 265px;
		height: 152.5px;
	}
	.home a {
		font-size: 12.5px;
	}
	.features-box1 h1, .features-box2 h1 {
		font-size: 24px;
	}
	.features-box1 p, .features-box2 p {
		font-size: 14px;
	}
	.stats-inf h1 {
		font-size: 20px;
	}
	.faq-h h1 {
		font-size: 16px;
	}
	.faq-box1 p, .faq-box2 p {
		font-size: 12px;
		max-width: 260px;
	}
	.faq-box1 i, .faq-box2 i {
		font-size: 16px;
	}
	.faq-box1 h1, .faq-box2 h1 {
		font-size: 13px;
	}
}