@mixin responsive-font-size($max-width, $min-font-size, $max-font-size) {
	$base-font-size: 16px;
  
	font-size: $min-font-size;
  
	@media (max-width: $max-width) {
	  $viewport-width: 100vw;
	  $min-font-size-em: calc($min-font-size / $base-font-size);
	  $max-font-size-em: calc($max-font-size / $base-font-size);
  
	  font-size: calc(#{$min-font-size-em}rem + (#{$max-font-size-em} - #{$min-font-size-em}) * ($viewport-width - 320px) / (#{$max-width} - 320));
	  font-size: #{font-size}rem;
	}
}

section.faq {
	padding: 4% 10% 7% 10%;

	&__header {
		display: block;
		text-align: center;
		i {
			color: rgb(82, 41, 163);
			font-size: 31px;
			margin-bottom: 10px;
		}
		h1 {
			color: white;
			letter-spacing: 1px;
			margin-bottom: 40px;
		}
	}
}

.faq-box {
    margin-bottom: 22.5px;
	display: flex;
	justify-content: space-between;
}

.faq-box i {
	color: rgb(82, 41, 163);
	font-size: 21px;
}

.faq-box h1 {
	color: #919ca7;
	font-size: 20px;
}

.faq-box p {
	color: #919ca7;
	@include responsive-font-size(1920px, 9px, 20px);
	font-weight: lighter;
	max-width: 450px;
}

@media screen and (max-width: 1200px) {
    .faq {
		padding: 4% 3%;
	}
}

@media screen and (max-width: 1010px) {

}

@media screen and (max-width: 880px) {
    .faq-h h1 {
		margin-bottom: 30px;
	}
	.faq-box {
		display: block;
		text-align: center;
        margin-bottom: 0;
	}
	.faq-box h1 {
		margin-bottom: 7px;
	}
	.faq-box p {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 450px) {
    .faq-box p {
		max-width: 350px;
	}
	.faq-box i {
		font-size: 19px;
	}
	.faq-box h1 {
		font-size: 17px;
	}
}

@media screen and (max-width: 400px) {
    .faq-h h1 {
		font-size: 19px;
	}
	.faq-box i {
		font-size: 17px;
	}
	.faq-box h1 {
		font-size: 15px;
	}
}

@media screen and (max-width: 345px) {
    .faq-h h1 {
		font-size: 16px;
	}
	.faq-box i {
		font-size: 16px;
	}
	.faq-box h1 {
		font-size: 13px;
	}
}